.homepage-picture-text {
  font-size: 35px;
  width: 30%;
}

@media only screen and (max-width: 1100px) {
  div > .homepage-picture-text {
    font-size: 3vw;
    width: 40%;
  }
  div > .carouselDiv {
    height: 40vh;
  }
  div > .certificatesLogos {
    padding-top: 0%;
  }
}

@media only screen and (max-width: 768px) {
  div > .homepageTitle {
    font-size: 14vw;
    padding-top: 5vh;
    flex-direction: column;
  }
  div > .homepage-picture-text {
    font-size: 5vw;
    width: 80%;
  }
  div > .text-picture-container-1 {
    flex-direction: column;
  }
  div > .text-picture-container-2 {
    flex-direction: column-reverse;
  }
  div > .ponosText {
    width: auto;
    font-size: 25px;
    margin-bottom: 10px;
    max-width: 100%;
  }
  div > .welder1 {
    width: auto;
  }
  div > .welder2 {
    width: auto;
  }
  div > .welder3 {
    width: auto;
    margin-bottom: 3%;
  }
  div > .OPodjetjuTitle {
    font-size: 2em;
  }
  div > .OPodjetjuText {
    font-size: 0.8em;
  }
  div > .NaseDeloTitle {
    font-size: 2.3em;
    padding-top: 3%;
  }
  div > .NaseDeloText {
    font-size: 1.2em;
  }
  div > .NaseDeloTitle2 {
    font-size: 2.3em;
    padding-top: 10%;
    padding-left: 0;
  }
  div > .NaseDeloText2 {
    font-size: 1.2em;
    min-width: 50vw;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 5%;
  }
  div > .spacerDiv {
    height: 1000px;
  }

  div > .carouselDiv {
    height: 550px;
    width: auto;
    margin-bottom: 10%;
  }
  div > .logoImage {
    background-size: 70%;
  }
  div > .homepagePlanTech {
    height: 100vh;
  }
  div > .homepageLogo {
    width: 40vw;
  }
  div > .divOverflow {
    width: 80%;
    height: 10vw;
    margin-left: 10%;
  }
  div > .narrowDivs {
    margin-left: 10%;
    margin-right: 10%;
  }
  div > .flexDirection {
    flex-direction: column;
  }
  div > .galleryDiv {
    padding-left: 0;
  }
  div > .certificatesLogos {
    padding-top: 10%;
  }
  div > .certificateLogo {
    height: 10vw;
  }
  div > .homepagePadding {
    padding: 0% 5% 30% 5%;
  }
}

.homepagePadding {
  padding: 0% 10% 2% 10%;
}

.certificateLogo {
  height: 4.5vw;
  margin: 2%;
}

.certificatesLogos {
  display: flex;
  padding-top: 13%;
}

.galleryDiv {
  padding-left: 5%;
}

.flexDirection {
  flex-direction: row;
}

.narrowDivs {
  margin-left: 18%;
  margin-right: 18%;
}

.map {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}

.divOverflow {
  width: 64%;
  height: 4vw;
  margin-left: 18%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}

.homepageLogo {
  width: 20vw;
}

.homepageTitle {
  font-size: 10vw;
  flex-direction: row;
}

.homepagePlanTech {
  height: auto;
  background-position: 50% 35%;
}
.logoImage {
  background-size: 30%;
}

.carouselDiv {
  height: 23vw;
  margin-top: 5%;
  margin-left: 14%;
  margin-right: 14%;
  margin-bottom: 4%;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}

.pin {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -115px;
  border-radius: 50% 50% 50% 0;
  border: 4px solid #fff;
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
}

.pin::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  background-color: #fff;
}

.spacerDiv {
  height: 1000px;
}

.OPodjetjuTitle {
  font-size: 3em;
}

.OPodjetjuText {
  font-size: 1.5em;
}

.NaseDeloTitle {
  font-size: 3em;
}

.NaseDeloText {
  font-size: 1.5em;
  font-family: "MyFontNoBold";
}

.NaseDeloText2 {
  font-size: 1.5em;
  padding-left: 12%;
  font-family: "MyFontNoBold";
}

.NaseDeloTitle2 {
  font-size: 3em;
  padding-left: 12%;
}

.black-fade-bottom {
  width: 100vw;
  height: 10vh;
  display: flex;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.9),
    rgba(245, 245, 245, 1)
  );
  z-index: 10;
}

.under-intro-picture {
  border-radius: 61px;
  background: #fafafa;
  box-shadow: inset 12px 12px 37px #aaaaaa, inset -12px -12px 37px #ffffff;
  color: white;
  display: flex;
  flex-direction: column;
  height: auto;
  padding-left: 4%;
  padding-right: 4%;
  border-radius: 15px;
  margin-top: 3%;
  margin-left: 4%;
  margin-right: 4%;
  padding-bottom: 2%;
}

.text-picture-container-1 {
  display: flex;
  flex-direction: row;
}

.text-picture-container-2 {
  display: flex;
  flex-direction: row;
}
.text-picture-container-3 {
  display: flex;
  flex-direction: column;
}

.divider {
  height: 20vh;
}

.ponosText1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  text-align: center;
  color: black;
  font-family: myFont;
}

.ponosText2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin: 3%;
  text-align: center;
  color: black;
  font-family: myFont;
}

.welder1 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40%;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 7px 7px 14px #949494, -7px -7px 14px #ffffff;
  margin: 5%;
  margin-bottom: 1%;
}
.welder2 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 7px 7px 14px #949494, -7px -7px 14px #ffffff;
  margin-bottom: 1%;
}
.welder3 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 69%;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 7px 7px 14px #949494, -7px -7px 14px #ffffff;
  margin: auto;
}
.shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}

.fancy {
  --b: 6px; /* control the border thickness */
  --w: 35vw; /* control the width of the line*/
  --g: 15px; /* control the gap */
  --c: black;

  width: fit-content;
  padding: 0 1em;
  line-height: 1.6em;
  border: 1px solid;
  color: #fff;
  background: conic-gradient(from 45deg at left, var(--c) 25%, #0000 0) 0,
    conic-gradient(from -135deg at right, var(--c) 25%, #0000 0) 100%;
  background-size: 51% 100%;
  background-origin: border-box;
  background-repeat: no-repeat;
  border-image: linear-gradient(
      #0000 calc(50% - var(--b) / 2),
      var(--c) 0 calc(50% + var(--b) / 2),
      #0000 0
    )
    1/0 var(--w) / calc(var(--w) + var(--g));
  margin-inline: auto;
}
